vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|19 Sep 2005 22:49:30 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|19 Sep 2005 22:49:30 -0000
vti_filesize:IR|1414
vti_cachedlinkinfo:VX|S|img/lev0_bg1.gif S|img/lev0_bg2.gif S|img/lev1_arrow.gif
vti_cachedsvcrellinks:VX|FSUS|img/lev0_bg1.gif FSUS|img/lev0_bg2.gif FSUS|img/lev1_arrow.gif
vti_backlinkinfo:VX|htmlpage1.htm
